.example-button-row {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  padding: 1rem;
}

/* button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 0.2s, box-shadow 0.2s; 
}

button:hover {
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
} */

button[mat-raised-button] {
  min-width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
}

button[mat-raised-button]:hover {
  transform: translateY(-1px);
}